@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: rgb(226, 183, 43);
    font-family: "Madimi One", sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: black;
    width: 300px;
    height: 550px;
    border-radius: 10px;
}

.image {
    padding: 8px
}

.image img {
    width: 285px;
    height: 250px;
    border-radius: 10px;
}

.skill {
    padding: 13px;
    color: white;
}

.capsules span {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 12px;
    margin: 5px;
    padding: 0px 20px 0px 10px;
    cursor: pointer;
}

.content h1 {
    color: white;
    padding: 5px;
    margin: 5px;
}

.content p {
    color: white;
    padding: 5px;
    text-align: center;
}

button{
    background-color: aqua;
    padding: 10px;
    margin-left: 100px;
    border-radius: 10px;
    margin-bottom:  30px;
    border: none;
}

.button {
    font-family: "Madimi One", sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

button:hover{
    background-color: lightblue;
}

button .button:hover{
    color: white;
}

::selection{
    background: #ff69b4;
    color: white;
}